<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>List of all logs</title>
  </head>
  <body>

	<div class="generic-container" ng-controller="LogsController as ctrl">
          <div class="panel panel-default">
                <!-- Default panel contents -->
              <div class="panel-heading"><span class="lead">List of Log files </span></div>
              <div class="tablecontainer">
                  <table class="table table-hover">
                      <thead>
                          <tr>
                              <th>ID.</th>
                              <th>Name</th>
                              <th width="20%"></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat="u in ctrl.users">
                              <td><span ng-bind="u.id"></span></td>
                              <td><span ng-bind="u.name"></span></td>
                              <td>
                              <button type="button" ng-click="ctrl.edit(u.name)" class="btn btn-success custom-width"><a href="#!view2/{{u.name}}">See Log</a></button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>

  </body>
</html>
